body{
    background-color: black;
}

h1{
    font-size:60px;
}

h3 {
    font-size 20px;
}

.head {
    height:200px;
    padding-top:20px;
    background-color: cadetblue;
}

.head title {
    padding:60px;
    margin:0;
    color:cornflowerblue;
    background-color: crimson;
    text-align:center;

@media(max width 480px) {
.navbar li {
    padding:10px;
}

.post{
    margin-right: 30px;
    margin-left: 30px;
}

.navbar.ul {
    visibility: hidden;
}

#nav-select{
    visibility:visible;
}